/* div {
    background-color: brown;
} */

.login-btn {
    background-color: #24D49A;
}

.login-header {
    color: #07c485;
}

.google-btn {
    /* width: 30px; */
    background-color: #f2ba33;

}